body {
    margin: 0; /* Removes default browser margin */
    padding: 0; /* Removes default browser padding */
    font-family: "Inter", sans-serif;
    line-height: 1.6; /* Sets a comfortable line height for readability */
    color: #333; /* Sets a default text color */
    background-color: #f4f4f4; /* Sets a light background color */
    -webkit-font-smoothing: antialiased; /* Improves font rendering on WebKit browsers */
    -moz-osx-font-smoothing: grayscale; /* Improves font rendering on macOS */
    background-color: black;
    color: #f4f4f4;
}

header {
    margin: 25px 15px;
    padding: 0px 20px;
    margin-bottom: 50px;
    margin-top: 40px;
}

header ul {
    display: flex;
    justify-content: space-evenly;
    margin: 5px 450px;
    padding: 10px 30px;
    list-style-type: none;
    box-shadow: 0px 0px 20px 1px rgba(255,255,255,0.6);
    -webkit-box-shadow: 0px 0px 20px 1px rgba(255,255,255,0.6);
    -moz-box-shadow: 0px 0px 20px 1px rgba(255,255,255,0.6);
    border-radius: 28px;
}

header li {
    text-decoration: none;
    font-weight: 500;
}

header li a {
    text-decoration: none;  
    font-size: 1.35rem;
    color: #f4f4f46a;
    transition: color 0.2s ease;
}

header li a:hover {
    color: #3b82f6;
    transform: scale(1.05);
}

main {
    margin: 15px 30px;
}

#hero {
    padding: 50px 400px;
    padding-bottom: 200px;
}

#hero h1 {
    padding: 5px 15px;
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 0;
}

#hero span {
    background: linear-gradient(135deg, #BE9FE1, #8b5cf6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#hero h2 {
    text-align: center;
    font-size: 3rem;
    margin-top: 0;
    color: #9ca3af;
    letter-spacing: 0.5px;
    text-align: center;
}



